/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@font-face {
  font-family: 'Gtwalsheimpro';
  src: url('../src/fonts/GT-Walsheim/GT-Walsheim-Regular-Trial.woff2') format('opentype');
  /* Add additional font weights and styles here if available */
}

@font-face {
  font-family :'Neuemachina' ;
  src: url('../src/fonts/PP-Neue-Machina/PPNeueMachina-InktrapUltrabold.otf');
}


body {
  margin: 0;
  /* width: 1519px; */
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}
